@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "swiper/css";
@import "swiper/css/pagination";
@import "tailwindcss";

@theme {
    --color-main: #41403E;
    --color-main-light: rgba(65,64,62,.2);
    --color-accent: #DEAD6F;
    --color-bg: #fff;
    --color-section: #F9F3EC;
    --color-sub-title: #908F8D;
    --color-bg-cart: #EEEBE5;

    --font-main: "Chilanka", cursive;
    --font-functional: "Montserrat", sans-serif;

    /* 19px */
    --text-btn: 1.1875rem;
    /* 15px */
    --text-label: 0.9375rem;
    /* 35px */
    --text-logo: 2.1875rem;

    --text-768: 11px;
    --text-1024: 14px;
    --text-1920: 16px;

    --font-weight-regular: 400;

    --breakpoint-phone: 380px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1920px;

    --spacing-cart: 20px;
    --spacing-pug: 50px;
    --spacing-label: 8px;
    --spacing-icon: 40px;
    --spacing-banner: 30px;
    --spacing-container: 15px;
    --spacing-container-1024: clamp(1.071rem, -23.01rem + 32.924vw, 22.143rem);

    --radius-cart: 10px;
    --radius-btn: 4px;

}

@layer base {
    body {
        font-family: var(--font-main);
        font-weight: var(--font-weight-regular);
        color: var(--color-main);
    }

    p {
        /* 36px */
        font-size: 2.25rem;
    }

    h1 {
        /* 88px */
        font-size: 4.9rem;
    }

    h2 {
        /* 75px */
        font-size: 4.6875rem;
    }

    h3 {
        /* 55px */
        font-size: 3.4375rem;
        line-height: 100%;
    }

    h4 {
        /* 26px */
        font-size: 1.625rem;
    }
}